/* Here we can set styles for this lab page that we don't want to effect others pages */


#main {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px #888;
    background-color: gold;
}

body {
    background-color: black;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/space.jpeg);
    background-position: center;
    background-repeat: no repeat;
    background-size: cover;
}

